<h2>Países</h2>
<hr class="border border-danger border-2 opacity-50">

<ul class="list-group">

  <li routerLink=""
  routerLinkActive="active"
  [routerLinkActiveOptions]="{exact:true}"
  class="list-group-item border border-dark">
    Home Page
  </li>

  <li routerLink="about"
  routerLinkActive="active"
  class="list-group-item border border-dark">
    About Page
  </li>

  <li routerLink="contact"
  routerLinkActive="active"
  class="list-group-item border border-dark">
    Contact Page
  </li>

</ul>
